{% assign collab = include %}

<div class="portrait-wrapper">
  <a
    href="{{ collab.home }}"
    class="portrait"
    data-style="{{ include.style }}"
    target="_blank"
    rel="noopener"
  >
    <img
      src="{{ collab.image | relative_url }}"
      class="portrait-image"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if collab.name or collab.job %}
      <span class="portrait-text">
        {% if collab.name %}
          <span class="portrait-name">{{ collab.name }}</span>
        {% endif %}
        {% if collab.job %}
          <span>{{ collab.job }}</span>
        {% endif %}
        {% if collab.affil %}
          <span>{{ collab.affil }}</span>
        {% endif %}
      </span>
    {% endif %}
  </a>
</div>
