---
layout: default
---

{% capture col1 %}

<div class="portrait-wrapper">
  <a href="{{ page.home }}" class="portrait" target="_blank" rel="noopener">
    <img
      src="{{ page.image | relative_url }}"
      class="portrait-image"
      loading="lazy"
      {% include fallback.html %}
    >
    <span class="portrait-text">
      {% if page.name %}
        <span class="portrait-name">{{ page.name }}</span>
      {% endif %}
      {% if page.job %}
        <span>{{ page.job }}</span>
      {% endif %}
      {% if page.affil %}
        <span>{{ page.affil }}</span>
      {% endif %}
    </span>
  </a>
</div>

{% if page.home %}
  {% include button.html type="home-page" link=page.home style="bare" %}
{% endif %}

{% endcapture %}

{% capture col2 %}

{{ content }}

{% endcapture %}

{% include cols.html col1=col1 col2=col2 %}
